{% extends "base_rest.html" %}
{% load static %}

{% block static_css %}
<link rel="stylesheet" href="{% static 'css/rest-edit.css' %}"/>
{% endblock %}

{% block content %}
<div class="profile-container">
    <h2>Редактирование блюда: {{ dish.name }}</h2>

    <form action="{% url 'restaurans:edit-dish' dish.slug %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-content">
            <!-- Отображение текущего изображения -->
            <div class="logo-container">
                {% if form.instance.image %}
                <img src="{{ form.instance.image.url }}" alt="Изображение блюда" class="restaurant-logo">
                {% else %}
                <p class="no-logo">Изображение не загружено</p>
                {% endif %}
            </div>

            {% include "restaurans/dish_form_fields.html" %}
        </div>
        <button type="submit" class="btn">Сохранить изменения</button>
    </form>

</div>

<style>
.form-content {
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile-container {
    width: 70%;
    max-width: 1500px;
    style="margin-top: 20px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    outline: none;
    resize: none; /* запрет изменения размера textarea */
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    border-color: #64FF8F;
    box-shadow: 0 0 10px #64FF8F;
}

.form-group select:focus option {
    color: black;
}

.form-fields {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.dish-fields {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    width: 300px;
}

.errorlist {
    color: red;
}

@media (max-width: 1200px) {
    .form-content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 940px) {
    .dish-fields {
        flex-direction: column;
        align-items: center;
    }
}


</style>
{% endblock %}
