<div class="promo-modal">
    <img src="{{ promotion.image.url }}" alt="Завтрак">
    <h2>{{ promotion.name }}</h2>
    <p>{{ promotion.description }}</p>
    <p>C {{ promotion.start_time }} по {{ promotion.end_time }}</p>
    <a href="{% url 'menu:restaurans_menu' promotion.restaurant.slug %}">Перейти к ресторану</a>
</div>
<style>

    .promo-modal img {
        margin-top: 20px;
        width: 100%;
        border-radius: 10px;
    }

    .promo-modal a {
        color: black;
        font-size: 20px;
    }

</style>