# Игнорируем виртуальное окружение
venv/
.env
*.env


# Игнорируем временные файлы и кеши
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
*.log

# Игнорируем статические и медиа-файлы (если генерируются динамически)
staticfiles/
media/

# Игнорируем файлы с секретными данными
yum/settings.py
yum/.env
