.background {
    position: relative;
    /* height: 110%; */
    background-image: url('../images/image.jpg'); /* Подставьте нужное изображение */
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 50%) 0%, rgba(25, 25, 25, 1) 100%);
}

.content {
    position: relative;
    z-index: 1;
    color: white;
}


/* Изменяем фон при наведении на ссылку в dropdown */
.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    margin-top: 40px;

    display: grid;
    grid-template-columns: auto auto;

    gap: 30px;

}


.profile-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;

    grid
}

.user-container {

}

.cart-container {
    grid-row: span 2;
}

.orders-container {

}

.user-info {
    display: flex;
    align-items: center;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-details {
    flex-grow: 1;
}

.edit-form {
    display: none;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.page-title {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.title-block p {
    color: white;
}

.title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
    padding-top: 40px;

}

.btn {
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    min-width: 100px;
    height: 40px;
    background-color: #373737;
    color: white;
    border-radius: 5px;
    border: none;

    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;

    cursor:pointer;
}

.user_form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.avatars {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px 0 20px 0;
    gap: 20px;
}

@media (max-width: 1300px) {
    .avatars {
        grid-template-columns: repeat(3, 1fr); /* 3 столбца */
    }
}

@media (max-width: 1100px) {
    .container {
        grid-template-columns: auto;
    }

}

@media (max-width: 750px) {
    .avatars {
        grid-template-columns: repeat(2, 1fr); /* 1 столбец */
    }
}

@media (max-width: 570px) {
    .user_form {
        grid-template-columns: 1fr;
    }

    .avatars {
        grid-template-columns: repeat(3, 1fr); /* 1 столбец */
    }
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;

    object-fit: cover; /* Обрезаем изображение по контейнеру */
    transition: transform 0.3s ease;
}


.change_avatar {
    border-radius: 50%;
    height: 85px;
    width: 85px;
    border: 4px solid #cccccc;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    transition: background-color 0.3s ease;
}

.change_avatar:hover {
    border-color: #64FF8F;
}

.change_avatar:hover .avatar {
    transform: scale(1.1);
}

.active_avatar {
    border-color: #64FF8F;
}

.change_avatar .avatar {
    margin: 0;
}



.details-btn {
    width: auto;
    padding-right: 22px;
    padding-left: 22px;
    height: 40px;
    background-color: #373737;
    color: white;
    border-radius: 5px;
    border: none;

    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;

    cursor:pointer;
}




.user-details h2 {
    margin: 0;
}

.user-details p {
    margin: 5px 0;
}

.edit-btn {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-btn:hover {
    background-color: #0056b3;
}

.cart, .orders {
    margin-top: 20px;
}

.cart h3, .orders h3 {
    margin-bottom: 15px;
}

.cart-items, .order-details {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart-item, .order-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}

.order-header {
    align-items: center;
}

.checkout-btn, .toggle-details-btn {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout-btn:hover, .toggle-details-btn:hover {
    background-color: #218838;
}

.order {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 10px;
}

/*
.order-details {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
}
*/

.order-details {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease, padding 0.3s ease;
    padding: 0;
    margin-top: 10px;
    border: none; /* Убираем видимую границу */


}

.order-details.open {
    max-height: 500px; /* Достаточно для содержимого */
    padding: 10px; /* Добавляем внутренние отступы */
    border: 1px solid #ddd; /* Добавляем границу при открытии */
    border-radius: 8px; /* Скругленные углы */
}

.order-item {
    display: flex;
    align-items: baseline;
    justify-content: space-between; /* Распределяем элементы по сторонам */
    gap: 10px; /* Добавляем промежуток между элементами */
}

.dish-name {
    flex-shrink: 0; /* Не дает сжиматься названию блюда */
}

.dots {
    flex-grow: 1; /* Занимает оставшееся пространство */
    border-bottom: 3px dotted #aaa; /* Создаем точки */

    height: 0; /* Чтобы линия оставалась в рамках строки */

}

.dish-price {
    flex-shrink: 0; /* Не дает сжиматься цене */
}
