{% extends "base.html" %}
{% load static %}

{% block static_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
{% endblock %}

{% block base_menu %}
<button id="open-cart">Корзина</button>{% endblock %}

{% block content %}

<section class="promotions-sect">
    <h2>Акции</h2>
    <div class="promotions-wrapper">
        <div class="arrow a-left" id="promotion-left">←</div>
        <div class="promotions promotions-slider">
            {% for promotion in promotions %}
            <div class="card promotion-card open-modal" data-promo-id="{{ promotion.id }}">
                <div class="card-overlay"></div>
                <img src="{{ promotion.image.url }}" alt="{{ promotion.name }}" class="card-img">
                <div class="card-content">
                    <h3>{{ promotion.name }}</h3>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="arrow a-right" id="promotion-right">→</div>
    </div>
</section>


{% include 'includes/modal_base.html' %}

<section class="rating-sect">
    <h2>Высокий рестинг</h2>
    <div class="promotions-wrapper">
        <div class="arrow a-left" id="rating-left">←</div>
        <div class="promotions rating-slider">
            {% for rest in best_rest %}
            <div class="card promotion-card">
                <a href="{% url 'menu:restaurans_menu' rest.slug %}">
                    <div class="card-overlay"></div>
                    <img src="{{ rest.image.url }}" alt="{{ rest.name }}" class="card-img">
                    <div class="card-content">
                        <h3>{{ rest.name }} </h3>
                        <div class="rating">
                            <h3>{{ rest.rating }}</h3>
                            <svg width="25" height="24" viewBox="0 0 25 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.71989 21.5021L8.35095 14.6577L2.88062 10.0542L10.1075 9.44524L12.9179 2.99057L15.7284 9.44524L22.9552 10.0542L17.4849 14.6577L19.116 21.5021L12.9179 17.8729L6.71989 21.5021Z"
                                      fill="#FFE976"/>
                            </svg>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="arrow a-right" id="rating-right">→</div>
    </div>

</section>

<section class="for-you-sect">
    <h2>Специально для вас</h2>
    <div class="promotions-wrapper">
        <div class="arrow a-left" id="for-you-left">←</div>
        <div class="promotions for-you-slider">
            {% for rest in best_rest %}
            <div class="card promotion-card">
                <a href="{% url 'menu:restaurans_menu' rest.slug %}">
                    <div class="card-overlay"></div>
                    <img src="{{ rest.image.url }}" alt="{{ rest.name }}" class="card-img">
                    <div class="card-content">
                        <h3>{{ rest.name }}</h3>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="arrow a-right" id="for-you-right">→</div>
    </div>
</section>

<section class="collections-sect">

    <h2>Подборки</h2>
    <div class="collections">
        {% for selection in selections %}
        <a href="{% url 'selections:selection_restaurants' selection.slug %}">
        <div class="card">
            <div class="card-overlay"></div>
            <img src="{{ selection.image.url }}" alt="{{ selection.name }}" class="card-img">
            <div class="card-content">
                <h4>{{ selection.name }}</h4>
            </div>
        </div>
        </a>
        {% endfor %}
    </div>

</section>


<section class="restaurans">

    <div class="rest-sect-title">
        <h2>Рестораны</h2>
        <div class="filters">
            <a class="active" href="{% url 'main:filter_restaurants' 'all' %}">Все</a>
            {% for category in sliced_categories %}
            <a href="{% url 'main:filter_restaurants' category.slug %}">{{ category.name }}</a>
            {% endfor %}

            <a>Сортировать </a>
            <a>Еще ↓</a>

            <div class="dropdown">
                <a href="#" id="cuisine-toggle">Кухня ↓</a>
                <div class="dropdown-menu" id="cuisine-menu">
                    {% for cuisine in cuisines %}
                    <a href="{% url 'main:filter_by_cuisine' cuisine.slug %}">{{ cuisine.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="restaurans-cards" id="restaurants-list">
        {% include 'includes/restaurants_list.html' with restaurants=restaurants %}
    </div>
</section>

<script>
document.getElementById("cuisine-toggle").addEventListener("mouseover", function (event) {
    event.preventDefault();
    document.getElementById("cuisine-menu").classList.toggle("show");
});

// Закрытие списка при клике вне его
document.addEventListener("mouseout", function (event) {
    let dropdown = document.getElementById("cuisine-menu");
    let toggle = document.getElementById("cuisine-toggle");

    if (!dropdown.contains(event.target) && !toggle.contains(event.target)) {
        dropdown.classList.remove("show");
    }
});

// слайдер акций

document.addEventListener("DOMContentLoaded", function () {
    const slider = document.querySelector(".promotions-slider");
    const leftArrow = document.getElementById("promotion-left");
    const rightArrow = document.getElementById("promotion-right");

    const cardWidth = document.querySelector(".promotion-card").offsetWidth + 20; // ширина карточки + отступ
    let scrollPosition = 0;

    rightArrow.addEventListener("click", function () {
        if (scrollPosition < slider.scrollWidth - slider.clientWidth) {
            scrollPosition += cardWidth * 4;
            slider.scrollTo({ left: scrollPosition, behavior: "smooth" });
        }
    });

    leftArrow.addEventListener("click", function () {
        if (scrollPosition > 0) {
            scrollPosition -= cardWidth * 4;
            slider.scrollTo({ left: scrollPosition, behavior: "smooth" });
        }
    });
});

// слайдер лучший ресторанов
document.addEventListener("DOMContentLoaded", function () {
    const slider = document.querySelector(".rating-slider");
    const leftArrow = document.getElementById("rating-left");
    const rightArrow = document.getElementById("rating-right");

    const cardWidth = document.querySelector(".promotion-card").offsetWidth + 20; // ширина карточки + отступ
    let scrollPosition = 0;

    rightArrow.addEventListener("click", function () {
        if (scrollPosition < slider.scrollWidth - slider.clientWidth) {
            scrollPosition += cardWidth * 4;
            slider.scrollTo({ left: scrollPosition, behavior: "smooth" });
        }
    });

    leftArrow.addEventListener("click", function () {
        if (scrollPosition > 0) {
            scrollPosition -= cardWidth * 4;
            slider.scrollTo({ left: scrollPosition, behavior: "smooth" });
        }
    });
});

document.addEventListener("DOMContentLoaded", function () {
    const slider = document.querySelector(".for-you-slider");
    const leftArrow = document.getElementById("for-you-left");
    const rightArrow = document.getElementById("for-you-right");

    const cardWidth = document.querySelector(".promotion-card").offsetWidth + 20; // ширина карточки + отступ
    let scrollPosition = 0;

    rightArrow.addEventListener("click", function () {
        if (scrollPosition < slider.scrollWidth - slider.clientWidth) {
            scrollPosition += cardWidth * 4;
            slider.scrollTo({ left: scrollPosition, behavior: "smooth" });
        }
    });

    leftArrow.addEventListener("click", function () {
        if (scrollPosition > 0) {
            scrollPosition -= cardWidth * 4;
            slider.scrollTo({ left: scrollPosition, behavior: "smooth" });
        }
    });
});






</script>

{% endblock %}
