{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h1>Hello, world!</h1>

{% for restaurant in restaurans %}
    <div class="restaurant">
        <h3>{{ restaurant.name }}</h3>
        <p>{{ restaurant.description }}</p>
        <a href="{% url 'menu:restaurans_menu' restaurant.slug %}">{{ restaurant.slug }}</a>
    </div>
{% endfor %}

</body>
</html>