{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка 505 - Внутренняя ошибка сервера</title>
    <link rel="stylesheet" href="{% static 'css/404.css' %}">

</head>
<body>
    <div class="container">
        <div class="glass-box">
            <h1>500</h1>
            <p>Что-то пошло не так на сервере. Мы уже работаем над этим!</p>
            <a href="/" class="btn">Вернуться на главную</a>
        </div>
    </div>
</body>
</html>
