{% extends "base_courier.html" %}
{% load static %}
{% block static_css %}
<link rel="stylesheet" href="{% static 'css/courier-profile.css' %}"/>
{% endblock %}

{% block content %}
<div class="orders-section">

    {% if active_shift %}
    <p>Смена началась: {{ active_shift.start_time|date:"H:i d.m.Y" }}</p>

    {% if not active_shift.end_time %}
    <p>Прошло времени: <span id="shift-duration"></span></p>

    <script>
        function updateShiftTimer(startTime) {
            let start = new Date(startTime);
            setInterval(function() {
                let now = new Date();
                let diff = new Date(now - start);
                let hours = diff.getUTCHours().toString().padStart(2, '0');
                let minutes = diff.getUTCMinutes().toString().padStart(2, '0');
                let seconds = diff.getUTCSeconds().toString().padStart(2, '0');
                document.getElementById('shift-duration').textContent = `${hours}:${minutes}:${seconds}`;
            }, 1000);
        }

        updateShiftTimer("{{ active_shift.start_time|date:'Y-m-d H:i:s' }}");

    </script>
    {% else %}
    <p>Смена завершена в {{ active_shift.end_time|date:"H:i d.m.Y" }}</p>
    {% endif %}
    {% endif %}

</div>

<form method="post" action="{% url 'couriers:toggle-shift' %}">
    {% csrf_token %}
    <button type="submit" class="btn">
        {% if user.on_shift %} Завершить смену {% else %} Начать смену {% endif %}
    </button>
</form>

<!--{% if user.on_shift %}-->
<!--<h2>{{ user.latitude }} {{ user.longitude }}</h2>-->
<!--{% endif %}-->


<section class="orders-section">

    <h2>В пути</h2>
    <div class="orders-container">
        {% for order in active_orders %}
        <div class="order-card">
            <h2 class="order-id">Заказ №{{ order.id }}</h2>
            <p><span class="label">Статус:</span> {{ order.get_status_display }}</p>
            <p><span class="label">Дата заказа:</span> {{ order.created_timestamp }}</p>
            <p><span class="label">Адрес доставки:</span> {{ order.delivery_address }}</p>
            <p><span class="label">Адрес ресторана:</span> {{ order.restaurant.address }}</p>
            <p><span class="label">Телефон:</span> {{ order.phone_number }}</p>
            <p><span class="label">Заказчик:</span> {{ order.customer.first_name }} {{ order.customer.last_name }}</p>
            <h3 class="order-items-title">Состав заказа:</h3>
            <ul class="order-items">
                {% for item in order.orderitem_set.all %}
                <li class="order-item">
                    {{ item.dish.name }} - {{ item.quantity }} шт. ({{ item.price }} руб.)
                </li>
                {% endfor %}
            </ul>
            <form method="post" action="{% url 'couriers:mark_order_delivered' order.id %}">
                {% csrf_token %}
                <button type="submit" class="complete-btn" style="width: 100%;">Доставлен</button>
            </form>

        </div>
        {% empty %}
        <p>Нет заказов в пути</p>
        {% endfor %}
    </div>

    <h2>Ждут курьера</h2>
    <div class="orders-container">
        {% for order in wait_orders %}
        <div class="order-card">
            <h2 class="order-id">Заказ №{{ order.id }}</h2>
            <p><span class="label">Статус:</span> {{ order.get_status_display }}</p>
            <p><span class="label">Дата заказа:</span> {{ order.created_timestamp }}</p>
            <p><span class="label">Адрес доставки:</span> {{ order.delivery_address }}</p>
            <p><span class="label">Адрес ресторана:</span> {{ order.restaurant.address }}</p>
            <p><span class="label">Телефон:</span> {{ order.phone_number }}</p>
            <p><span class="label">Заказчик:</span> {{ order.customer.first_name }} {{ order.customer.last_name }}</p>
            <h3 class="order-items-title">Состав заказа:</h3>
            <ul class="order-items">
                {% for item in order.orderitem_set.all %}
                <li class="order-item">
                    {{ item.dish.name }} - {{ item.quantity }} шт. ({{ item.price }} руб.)
                </li>
                {% endfor %}
            </ul>
            <form method="post" action="{% url 'couriers:mark_order_delivered' order.id %}">
                {% csrf_token %}
                <button type="submit" class="complete-btn" style="width: 100%;">Принять заказ</button>
            </form>
        </div>
        {% empty %}
        <p>Нет заказов, ожидающих курьера</p>
        {% endfor %}
    </div>

    <h2>Готовятся</h2>
    <div class="orders-container">
        {% for order in process_orders %}
        <div class="order-card">
            <h2 class="order-id">Заказ №{{ order.id }}</h2>
            <p><span class="label">Статус:</span> {{ order.get_status_display }}</p>
            <p><span class="label">Дата заказа:</span> {{ order.created_timestamp }}</p>
            <p><span class="label">Адрес доставки:</span> {{ order.delivery_address }}</p>
            <p><span class="label">Адрес ресторана:</span> {{ order.restaurant.address }}</p>
            <p><span class="label">Телефон:</span> {{ order.phone_number }}</p>
            <p><span class="label">Заказчик:</span> {{ order.customer.first_name }} {{ order.customer.last_name }}</p>
            <h3 class="order-items-title">Состав заказа:</h3>
            <ul class="order-items">
                {% for item in order.orderitem_set.all %}
                <li class="order-item">
                    {{ item.dish.name }} - {{ item.quantity }} шт. ({{ item.price }} руб.)
                </li>
                {% endfor %}
            </ul>
        </div>
        {% empty %}
        <p>Нет заказов в процессе приготовления</p>
        {% endfor %}
    </div>
</section>


<script>
let updateInterval = 10000; // 10 секунд

function updateLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(position => {
            fetch("{% url 'couriers:update-location' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                body: JSON.stringify({
                    latitude: position.coords.latitude,
                    longitude: position.coords.longitude
                })
            });
        });
    }
}

setInterval(updateLocation, updateInterval);


const courierSocket = new WebSocket("ws://" + window.location.host + "/ws/courier/{{ user.id }}/");
courierSocket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    alert("Новый заказ: " + data.order_id + " (" + data.address + ")");
};



</script>


{% endblock %}