{% extends "base.html" %}
{% load static %}

{% load carts_tags %}

{% block static_css %}
<link rel="stylesheet" href="{% static 'css/order.css' %}"/> {% endblock %}

{% block page_title %}
<div class="page-title">
    <h1>{{ page_title }}</h1>
    <h6>{{ page_description }}</h6>
</div>
{% endblock %}

{% block content %}

<div class="order">

    <div class="order-container">

        <h2>Оформление заказа</h2>

        <div id="cart-items-container">
            {% user_carts request restaurant as carts %}
            {% include "includes/included_cart.html" %}
        </div>

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        {% endif %}

        <div class="details">
            <h3>Детали заказа</h3>
            <form action="{% url 'orders:create_order' restaurant.id %}" method="post" id="create_order_form">
                {% csrf_token %}
                <div class="order-form">
                    <div>
                        <label for="id_first_name" class="form-label">Имя*:</label>
                        <input type="text" class="form-control" id="id_first_name"
                               value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                               name="first_name" required>
                        {% if form.first_name.errors %}
                        <p>{{form.first_name.errors}}</p>
                        {% endif %}
                    </div>
                    <div>
                        <label for="id_last_name" class="form-label">Фамилия*:</label>
                        <input type="text" class="form-control" id="id_last_name" name="last_name"
                               value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
                               required>
                        {% if form.last_name.errors %}
                        <p>{{form.last_name.errors}}</p>
                        {% endif %}
                    </div>
                    <div>
                        <label for="id_phone_number" class="form-label">Номер телефона*:</label>
                        <input type="text" class="form-control" id="id_phone_number" name="phone_number"
                               value="{% if form.phone_number.value %}{{ form.phone_number.value }}{% endif %}"
                               placeholder="+375290000000"
                               required>
                        {% if form.phone_number.errors %}
                        <p>{{form.phone_number.errors}}</p>
                        {% endif %}
                        <div class="alert alert-danger alert-dismissible fade show" style="display: none"
                             id="phone_number_error">Неправильный формат
                        </div>
                    </div>
                    <div class="row" id="streetField">
                        <label for="id_street" class="form-label">Улица*:</label>
                        <textarea class="form-control" id="id_street"
                                  value="{% if form.street.value %}{{ form.street.value }}{% endif %}"
                                  name="street" rows="2"></textarea>
                        {% if form.street.errors %}
                        <p>{{form.street.errors}}</p>
                        {% endif %}
                    </div>

                    <div class="row" id="houseField">
                        <label for="id_house" class="form-label">Дом*:</label>
                        <input class="form-control" id="id_house"
                                  value="{% if form.house.value %}{{ form.house.value }}{% endif %}"
                                  name="house" rows="2">
                        {% if form.house.errors %}
                        <p>{{form.house.errors}}</p>
                        {% endif %}
                    </div>

                    <div class="row" id="entranceField">
                        <label for="id_entrance" class="form-label">Подъезд*:</label>
                        <input class="form-control" id="id_entrance"
                                  value="{% if form.entrance.value %}{{ form.entrance.value }}{% endif %}"
                                  name="entrance" rows="2">
                        {% if form.entrance.errors %}
                        <p>{{form.entrance.errors}}</p>
                        {% endif %}
                    </div>

                    <div class="row" id="floorField">
                        <label for="id_floor" class="form-label">Этаж*:</label>
                        <input class="form-control" id="id_floor"
                                  value="{% if form.floor.value %}{{ form.floor.value }}{% endif %}"
                                  name="floor" rows="2">
                        {% if form.floor.errors %}
                        <p>{{form.floor.errors}}</p>
                        {% endif %}
                    </div>

                    <div class="row" id="apartmentField">
                        <label for="id_apartment" class="form-label">Квартира*:</label>
                        <input class="form-control" id="id_apartment"
                                  value="{% if form.apartment.value %}{{ form.apartment.value }}{% endif %}"
                                  name="apartment" rows="2">
                        {% if form.apartment.errors %}
                        <p>{{form.apartment.errors}}</p>
                        {% endif %}
                    </div>

                    <div class="row">
                        <label class="form-label">Способ оплаты: </label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="payment_on_get"
                                   id="id_payment_on_get" value="0" checked>
                            <label class="form-check-label" for="id_payment_on_get">Картой</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="payment_on_get"
                                   id="id_payment_on_get" value="1">
                            <label class="form-check-label" for="id_payment_on_get">При получении</label>
                            {% if form.payment_on_get.errors %}
                            <p>{{form.payment_on_get.errors}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if carts %}
                <button type="submit" class="btn">Заказать</button>
                {% endif %}
            </form>
        </div>

    </div>


</div>
{% endblock %}
